body
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    overflow: hidden;
}

.layout
{
    
    width: 100%;
    height: 100%;
}
.header
{
    width: 100%;
    height: 14%;
    background-color: rgb(52, 46, 46);;
    border:5px solid rgb(255, 190, 69);

}
.footer
{
    width: 100%;
    height: 14%;
    background-color: rgb(52, 46, 46);;
    border:5px solid rgb(255, 190, 69);

}
.content
{
    width: 100%;
    height: 70%;
    display: flex;
    background-color: rgb(52, 46, 46);
    border:2px solid rgb(255, 190, 69);

 
}


.card-container{
    width: 60%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color:rgb(52, 46, 46);;
    border:5px solid rgb(255, 190, 69);
    

    
    
}

.card
{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: fit-content;

    border: 2px solid rgb(255, 190, 69);
    border-radius: 8px;
    padding-left: 2%;
    margin: 2%;

    background-color:Beige;
    
}

.customer-input{
    margin-top: 5%;
    background-color:beige;
    border: 2px solid rgb(255, 190, 69);
    border-radius: 4px;
    padding-left: 2%;
    margin: 2%;
   
}

.customer-input-id{
    margin-top: 5%;
    height: 10%;
    background-color:beige;
    border: 2px solid rgb(255, 190, 69);
    border-radius: 8px;
    padding-left: 2%;
    margin: 2%;


}


.create-customer-btn
{
    margin-top: 5%;
    height: 10%;
    padding: 1% 20%;
    align-items: center;
    display: flex;
    background-color: beige;
    border: 2px solid rgb(255, 190, 69);
    border-radius: 8px;
    

}

.input-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    background-color: #342e2e;;
    border:5px solid rgb(255, 190, 69);

   

}

.customer-input-search-container{
    display: flex;
    flex-direction: column;
    background-image:url(../../assets/Screenshot\ 2024-02-13\ 111947.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 98.1%;
    border:5px solid rgb(255, 190, 69);
    
}

#modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1; /* Ensures the backdrop is behind the modal form */
}

#formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensures the form is above the backdrop */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
}